.main-footer {
  background: #1c1c1c;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.main-footer h3,
.main-footer h4 {
  text-align: center;
}

.contact-info,
.FAQ {
  padding: 0;
  padding: 0rem 0.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.follow-us {
  padding: 0;
  padding: 0rem 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}

.follow-us li .soMe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer .contact-info li,
.FAQ li,
.FAQ li a,
.follow-us li {
  list-style-type: none;
  color: #fff;
  text-decoration: none;
}

.facebook-soMe,
.instagram-soMe,
.linkedin-soMe {
  width: 8vw;
}

.facebook-soMe,
.instagram-soMe {
  filter: invert(100%);
}

/*#region desktop  */
@media (min-width: 1200px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .soMe-container img {
    width: 4vw;
  }
}
/*#endregion desktop  */
