.main-header {
    background: #1C1C1C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.main-header .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}

.main-nav #hamburger {
    display: block;
}

#hamburger .bar {
    margin: 4px 0;
    width: 25px;
    height: 7px;
    display: block;
    background: #fff;
    border-radius: 5px;
}