#cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardsContainer .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    border: 2px solid #1c1c1c;
    border-radius: 10px;
    padding: 0rem 0.5rem;
    background: #EEEEEE;
}

.product-card header {
    border-bottom: 2px solid #1c1c1c;
    width: 100%;
    text-align: center;
    padding: 0rem 0.5rem;
}

.product-card img {
    padding-top: 0.4rem;
    display: block;
    width: 100%;
}

.product-card figcaption .rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.7rem;
}

.product-card figcaption .price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.price h4 {
    font-size: 27px;
}

.price button {
    padding: 0.7rem 1rem;
    border-radius: 10px;
    background: #85D360;
    border: 0;
    box-shadow: 0.2px 3px #00000033;
}

.product-card footer {
    text-align: end;
}